/* CELPHONE a  NOW */
@media only screen and (max-width:480px)  {

    body {
        background-color: rgb(255, 255, 255);
        text-align: left;
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    img{
        text-align: center;
        margin: auto;
    }
    
    p{
        color: rgb(0, 0, 0);
        font-size: 1.5em;
    }
    
    h1 {
        color: rgb(0, 0, 0);
        font-size: 4.375em;
        text-align: center;
    }
    
    h2 {
        color: rgb(255, 0, 0);
        font-size: 3.75em;
    }
    
    h3 {
        color: rgb(0, 0, 0);
        font-size: 3.125em;
        text-align: center;
    }
    
    h4 {
        color: rgb(0, 0, 0);
        font-size: 1.25em;
    }
    
    h5 {
        color: rgb(0, 0, 0);
        font-size: 0.9375em;
    }
    
    h6 {
        color: rgb(0, 0, 0);
        font-size: 0.625em;
    }
    
  .imgc {
        width: 400px;
        height: auto;
        margin: 0 auto;
        display: block;
        max-width: 90%;
    }

   .imgc2 {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
        max-width: 90%;
    }

   .textocentro{
        text-align: center;
    }
    
    ol{
        color: white;
    }

    ul{
        color: white;
    }
}
    
    /*RESPONSIVIDADE PARA COMPUTADOR eTELAS GRANDES */
@media only screen and (max-width:1280px), (min-height:801px){
    
    body {
        margin-left: 10%;
        margin-right: 10%;
        background-color: black;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    img{

    }
    
    ol{
        color: white;
    }

    ul{
        color: white;
    }

    p{
        color: white;
        font-size: 25px;
    }
    
    h1 {
        color: white;
        font-size: 70px;
    }
    
    h2 {
        color: rgb(255, 0, 0);
        font-size: 60px;
    }
    
    h3 {
        color: white;
        font-size: 30px;
    }
    
    h4 {
        color: white;
        font-size: 20px;
    }
    
    h5 {
        color: white;
        font-size: 15px;
    }
    
    h6 {
        color: white;
        font-size: 10px;
    }
    
  .imgc {
        width: auto;
        height: auto;
        margin: 10%;
        display: block;
        max-width: 90%;
    }

   .imgc2 {
        width: auto;
        height: auto;
        margin: 10%;
        display: block;
        max-width: 90%;
    }

   .textocentro{
        text-align: center;
    }
}    
    /*TABLET PARA UM FUTURO TAO TAO DISTANTE */