body {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    color: white;
    font-size: 25px;
}

h1 {
    color: white;
    font-size: 70px;
}

h2 {
    color: rgb(255, 0, 0);
    font-size: 60px;
}

h3 {
    color: white;
    font-size: 30px;
}

h4 {
    color: white;
    font-size: 20px;
}

h5 {
    color: white;
    font-size: 15px;
}

h6 {
    color: white;
    font-size: 10px;
}

.textocentro {
    text-align: center;
}
.imgc {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
}
@media only screen and (max-width: 480px) {
    img {
      width: 70%;
    }
  }